.jumbotron{
    font:40px;
    font-family: 'Aclonica', sans-serif;
    background:#5B48A1;
}
p{
    font:40px;
    font-family: 'Aclonica', sans-serif;

}
.btn{
    font:40px;
    font-family: 'Aclonica', sans-serif;
}
#randomNumber{
    font-family: 'Aclonica', sans-serif;
}